<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.musicserve.mapper.RankListMapper">

    <resultMap id="BaseResultMap" type="com.example.musicserve.domain.RankList">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="songlistid" column="songListId" jdbcType="BIGINT"/>
            <result property="consumerid" column="consumerId" jdbcType="BIGINT"/>
            <result property="score" column="score" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,songListId,consumerId,
        score
    </sql>
</mapper>
